<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        .formcard {
            align-self: center;
            display: block;
            margin-top: 30px;
        }
    </style>
  
</head>
<body style="background: -webkit-linear-gradient(left, #545455, #0e0d0f);">
    <div class="container">       
        <br>
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                
                <div class="card mt-5">
                    <div class=" formcard">
                        <h4 class="text-uppercase text-center mb-2">Registro</h4>                        
                    </div>
            
                    <div class="card-body">
                        
                            <input class="form-control" name="nome" id="nome" type="nome" maxlength="18" placeholder="Nome"><br>
                            <input class="form-control" name="email" id="email" type="email" maxlength="26" placeholder="Insira o e-mail"><br>
                            <input class="form-control" name="password" id="senha" type="password" maxlength="16" placeholder="Crie uma password"><br>
                            <button type="submit" class="btn btn-dark btn-block text-uppercase"  onclick="registrar()">Registrar</button>
                            
                        
                    </div>
                </div>

            </div>
        </div>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        function  registrar() {
        var nomeInput = document.getElementById("nome")
        var emailInput = document.getElementById("email")
        var senhaInput = document.getElementById("senha")
        

        const campos = {
            nome: nomeInput.value,
            email: emailInput.value,
            senha: senhaInput.value
        } 
        if(nome.value == '' || email.value == '' || senha.value == '') {
            alert("há campo com o valor inválido")
        } else {
            axios.post('http://localhost:8000/registro', campos).then(dados => {
           
           window.location.replace("http://127.0.0.1:5500/views/index.html")

       }).catch(err => {
           alert(err)
           //alert("Houveram campos inválidos")
       })   

        }     

       

    } 


    </script>
    
</body>
</html>